# Directories storing files downloaded or collected from the OS
upstream
src
ROOTFS
install

# Downloaded compressed archives
*.tar
*.tar.gz

# Terminal settings from the host
unknown-term/terminfo

# Unpacked mysql releases
mysql/mysql-*

# Stripped shared objects
*-stripped.so

# Build directories
build
